@{
    ViewData["Title"] = "Login";
}
<h2>Login</h2>
<form method="post">
    <div class="mb-3">
        <label>Email</label>
        <input class="form-control" type="email" name="email" required />
    </div>
    <div class="mb-3">
        <label>Password</label>
        <input class="form-control" type="password" name="password" required />
    </div>
    <button class="btn btn-primary" type="submit">Login</button>
    <a class="btn btn-link" href="/Account/Register">Register</a>
    <div class="text-danger">@Html.ValidationSummary()</div>
}</form>


